body.center-form {
	min-height: 95vh;
}

div.center-form {
	position: relative;
	min-height: 95vh;
}

div.center-form > form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}	

input[type=text]{   
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 5px 5px 10px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:400px;
	height: 50px;
}
 
textarea{
    border: 1px solid #000000;
    background:#cccccc;
    width:300px;
    height:200px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
	-moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}
 
input[type=text]:hover, textarea:hover{ 
    background: #ffffff; 
	border:1px solid #990000;
	height: 50px;
}
 
input[type=submit]{
    background:#006699;
    color:#ffffff;
	height: 50px;
}